* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #343a40;
    width: 80%;
    margin: 0 auto;
}


h1 {
    margin-bottom: 16px;
    font-size: 64px;

}

h2 {
    font-size: 36px;
    color:  #adb5bd;
}

h1, h2 {
    text-align: center;
}