
/* General Styles */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #343a40;
    margin: 0 auto;
}

header, main, footer {
    width: 100%;
}


/* Nav Bar */

.nav-container {
    width: 100%;
}


.nav-bar {
    list-style: none;
    display: flex;
    justify-content: end;
    padding: 10px;
    background-color: #ffa8a8;
    margin-bottom: 20px;
}

.nav-item {
    margin: 0px 20px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #343a40;
}

.nav-item:hover {
    font-weight: 800;
}

.nav-item:active {
    font-weight: 400;
}

.nav-item:visited {
    font-weight: 800;
}

/* Header */


h1 {
    margin-bottom: 16px;
    font-size: 64px;

}

h2 {
    font-size: 36px;
    color:  #adb5bd;
}

h1, h2 {
    text-align: center;
}

.banner-image {
    width: 80%;
    display: block;
    margin: 30px auto;
}